.test-container {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-container a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.wip {
    border: 1px solid red;
    margin-top:1rem;
    margin-bottom:1rem;
    padding:0.5rem;
}
.content-container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 48%;
}

.left-container h2 {
    animation: fadeInTop 2.5s ease-in-out;
}

.left-container p {
    margin-top: 2rem;
    animation: fadeInRight 1.5s ease-in-out;
}

.right-container {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container img {
    max-width: 100%;
    border-radius: 10px;
    filter: grayscale(100%);
    animation: fadeInLeft 1.5s ease-in-out;
}

.profile-links {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}

.profile-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .main-container {
        width: 90%;
    }

    .content-container {
        flex-direction: column;
        align-items: center;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .right-container {
        margin-top: 20px;
    }
}
